/* Chrome, Safari, Edge, Opera */
input.disable-arrows::-webkit-outer-spin-button,
input.disable-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.disable-arrows[type=number] {
  -moz-appearance: textfield;
}