@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .table-data {
    @apply text-[0.75rem] border-b border-solid text-[#16191D] border-[#E4E7EC] font-semibold text-left;
  }
  .tbl-sales-ref {
    &__wrapper {
      @apply border-[#E4E7EC] border-b border-solid;
    }
    &__header {
      @apply p-3 align-middle whitespace-nowrap;
    }
    &__header-icon {
      @apply p-3 justify-end align-middle;
    }
    &__icon-wrap {
      @apply flex flex-row gap-3;
    }
    &__icon-btn {
      @apply cursor-pointer;
    }
  }
  .tbl-user-ref {
    &__wrapper {
      @apply border-[#E4E7EC] border-b border-solid;
    }
    &__header {
      @apply p-3 align-middle whitespace-nowrap;
    }
    &__header-icon {
      @apply p-3 justify-end align-middle;
    }
    &__icon-wrap {
      @apply flex flex-row gap-3;
    }
    &__icon-btn {
      @apply cursor-pointer;
    }
  }
  .admin-tbl {
    &__tbl {
      @apply border-[#D3D4D4] border-b whitespace-pre;
      &--name {
        @extend .admin-tbl__tbl;
        @apply rounded-tr-lg border-r;
      }
      &--name-dev {
        @extend .admin-tbl__tbl;
        @apply rounded-tr-lg border-l;
      }
    }
    &__status-label {
      @apply py-1 px-2 rounded-[4px];
      &--Active {
        @apply text-[#27AE60] text-xs bg-[#E1F8EB] font-medium;
      }
      &--Registered {
        @apply text-[#1078CA] text-xs bg-[#DDEFFC] font-medium;
      }
      &--Delete {
        @apply text-[#E84040] text-xs bg-[#FCE7E7] font-medium;
      }
    }
    &__col-icon-wrap {
      @apply border-[#CAD0DA] p-3 flex justify-start align-baseline border-b border-r;
      &--dev {
        @apply border-b border-r border-[#CAD0DA] smallPc:pr-8;
      }
    }
    &__icon {
      @apply cursor-pointer mx-auto;
    }
    &__span {
      @apply font-normal;
    }
  }
  .tbl-list-unit {
    &__icon-wrap {
      @apply flex flex-row gap-3 mobile:w-[12vw] place-content-end;
    }
    &__icon {
      @apply cursor-pointer text-[#00529C] w-6 h-6;
    }
  }
}

.admin-table {
  border-collapse: separate;
  border-spacing: 0;
  min-width: 350px;
  overflow-x: auto;
  white-space: nowrap;
  // max-width: 74vw;
}
.admin-table tr th,
.admin-table tr td {
  border-bottom: 1px solid #cad0da;
  padding: 16px 23px;
  word-wrap: break-word;
  // max-width: 350px;
  white-space: break-spaces;
}
.admin-table tr th {
  background: #fff;
  border-top: 1px solid #cad0da;
  text-align: left;
}
.admin-table tr td {
  background: #fff;
}
/* top-left border-radius */
.admin-table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

/* top-right border-radius */
.admin-table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

/* bottom-left border-radius */
.admin-table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */
.admin-table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

.table-article {
  border-collapse: separate;
  border-spacing: 0;
  min-width: 350px;
  overflow-x: auto;
  white-space: nowrap;
  // max-width: 74vw;
}
.table-article tr td {
  border-bottom: 1px solid #cad0da;
  padding: 16px 23px;
  word-wrap: break-word;
  white-space: break-spaces;
  background: #fff;
}

.table-article tr th {
  background: #BBDEFA;
  border-top: 1px solid #cad0da;
  text-align: left;
  text-align: center;
}
/* top-left border-radius */
.table-article tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

/* top-right border-radius */
.table-article tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

/* bottom-left border-radius */
.table-article tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */
.table-article tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}